node_modules
package-lock.json
*.log
*.txt
*.tmp


# Cypress
cypress/results/*
cypress/screenshots/*
cypress/downloads/*
cypress/e2e/*
cypress/videos
cypress.env.json
cypress/support/users.js
reports/

# Browserstack
log/
results/
npm_install_debug.log
*.zip
