node_modules
package-lock.json

# Cypress
cypress/results/*
cypress/screenshots/*
cypress/downloads/*
cypress/e2e/*
cypress/videos
*.log
*.txt

# Browserstack
log/
results/
npm_install_debug.log
*.zip
